@import '../../assets/scss/variables.scss';
@import '../../assets/scss/breakpoints.scss';

.manage-emails {
  display: flex;
  flex-direction: column;

  .err_description {
    margin: 2rem auto 0 auto;
    color: $secondary;
    text-align: center;
    font-size: 1.7rem;
  }

  .MuiFab-root {
    position: absolute;
    bottom: 2.5rem;
    right: 2rem;
  }
}
